{% extends "index.html" %} {% block title %} Dashboard {% endblock %}

{% block content %}
<section class="onboarding-section">

<form method="POST" name="resultform" id="resultform" action="{{ url_for('routes.getImageResult')}}" method="POST">
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="end end">
        <div class="col-md-8 p-0">
            <span style="font-size: 28px;"><b>YouTube Sentinent Analysis Dashboard</b></span>
            <button type="submit" class="mt-2 float-right btn btn-primary">Display</button>
        </div>

      </div>
    
    <div>
        <div class="row mb-2 mt-3">
            <div class="mt-2 col-md-4 border-right">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label data-toggle="tooltip" data-placement="top" title="Select a place or city">Places</label>
                          <select class="form-control" name="place" id="place">
                            <option value="" selected>- Select Place -</option>
                            <option value="NEWYORK">NEWYORK</option>
                            <option value="TEXAS">TEXAS</option>
                            <option value="CHICAGO">CHICAGO</option>
                          </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label data-toggle="tooltip" data-placement="top" title="Enter category e.g food" for="">Category</label>
                            <input type="text" class="form-control" name="category" id="category" placeholder="Enter category e.g food" value=""/>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-8">
                {% if (result) %}
                    {% if result == 'NEWYORK' %}
                    <span class="pl-2">Showing result for: <b>Popular cities in Newyork</b></span>
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5"
                        height="100%"
                        src="{{url_for('static', filename='/results/newyork/places_word_cloud.PNG')}}"
                        width="100%"
                        />
                    </div>
                    {% elif result == 'CHICAGO' %}
                    <span class="pl-2">Showing result for: <b>Popular cities in Chicago</b></span>
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5"
                        height="100%"
                        src="{{url_for('static', filename='/results/chicago/places_word_cloud.PNG')}}"
                        width="100%"
                        />
                    </div>
                    {% elif result == 'TEXAS' %}
                    <span class="pl-2">Showing result for: <b>Popular cities in Texas</b></span>
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5"
                        height="100%"
                        src="{{url_for('static', filename='/results/texas/places_word_cloud.PNG')}}"
                        width="100%"
                        />
                    </div>

                    <!-- category -->
                    {% elif result == 'newyork' %}
                    <span class="pl-2 mt-2">Showing food result for: <b>Newyork Popular Foods</b></span>
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5"
                        height="100%"
                        src="{{url_for('static', filename='/results/newyork/food_word_cloud.PNG')}}"
                        width="100%"
                        />
                    </div>
                    <span class="pl-2">Showing food result for: <b>Newyork Top Food related videos</b></span>
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5"
                        height="100%"
                        src="{{url_for('static', filename='/results/newyork/Top_Food_related_videos.PNG')}}"
                        width="100%"
                        />
                    </div>
                    {% elif result == 'chicago' %}
                    <span class="pl-2 mt-2">Showing food result for: <b>Chicago</b></span>
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5"
                        height="100%"
                        src="{{url_for('static', filename='/results/chicago/food_word_cloud.PNG')}}"
                        width="100%"
                        />
                    </div>
                    <span class="pl-2">Showing food result for: <b>Chicago Top Food related videos</b></span>
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5"
                        height="100%"
                        src="{{url_for('static', filename='/results/chicago/Top_Food_related_videos.PNG')}}"
                        width="100%"
                        />
                    </div>
                    {% elif result == 'texas' %}
                    <span class="pl-2 mt-2">Showing food result for: <b>Texas</b></span>
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5"
                        height="100%"
                        src="{{url_for('static', filename='/results/texas/food_word_cloud.PNG')}}"
                        width="100%"
                        />
                    </div>
                    <span class="pl-2">Showing food result for: <b>Texas Top Food related videos</b></span>
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5"
                        height="100%"
                        src="{{url_for('static', filename='/results/texas/Top_Food_related_videos.PNG')}}"
                        width="100%"
                        />
                    </div>

                    {% else %}
                    <div class="text-center">
                        <img
                        alt="Dashboard"
                        class="mb-5 pl-0"
                        height="60%"
                        src="{{url_for('static', filename='/results/no_result2.png')}}"
                        width="60%"
                        />
                    </div>
                    <div class="text-center">
                        <span><b>No Result! Select an item!</b></span>
                    </div>

                    {% endif %}
                {% endif %} 
            </div>
        </div>
    </div>
</form>
</section>
{% endblock %}